# macOS finder folder-level attributes
**/.DS_store

## python cache files
__pycache__
**/__pycache__

# ipython notebook checkpoints
**/.ipynb_checkpoints

## nohup file
nohup.out
**/nohup.out

## sqlite database files
*.sqlite
**/*.sqlite

## data files
data/

## seq data
run_AMRFinderPlus/GTDB/seqs/
run_AMRFinderPlus/NCBI/

## gtdb-tk related files
*.tar.gz
run_GTDB_tk/release226/
run_GTDB_tk/test*/
